
#mainframeBackground {
    -fx-background-image: url('images/mainframe9.jpg');
    -fx-background-size: 800px 700px;
    -fx-background-position: center;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: honeydew;
    -fx-border-radius: 10%;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: grey;
}

#nickField {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: aliceblue;
    -fx-text-fill: aliceblue;
    -fx-alignment: center;
}
#passField {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: aliceblue;
    -fx-text-fill: aliceblue;
}
#balanceBtn {
    -fx-border-width: 0 2px 2px 2px;
}

#ground {
    -fx-background-color:  darkgray;
}


.button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}