
#startBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;
}
#ternoBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;

}
#quaternaBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;

}
#cinquinaBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;

}
#tombolaBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;

}
#exitBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;
}

#moneyBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;

}
#pauseBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;

}

#passerBtn {
    -fx-text-fill: aliceblue;
    -fx-background-color: transparent;
    -fx-border-radius: 50%;
    -fx-border-style: solid;
    -fx-border-color: grey;
}
#passerBtn:hover{}

#insideBackground {
    -fx-background-image: url('images/insider15.jpg');
    -fx-background-size: 800px 700px;
    -fx-background-position: center;
}
#closeSystem {
    -fx-background-color: transparent;
    -fx-border-color: goldenrod;
    -fx-border-radius: 15px;
    -fx-border-width: 2px 2px 0 2px;
    -fx-text-fill: goldenrod;
}

#gameHistory {
    -fx-border-color: wheat;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

#changeCardBtn {
    -fx-background-color: goldenrod;
    -fx-border-radius: 15px;
}


.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
.root {
}